{% extends "layout.html" %} {% block content %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata d-flex justify-content-between align-items-center">
            <h2><a class="article-title text-decoration-none"
                >{{ post.name }}</a>
            </h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb align-items-center m-0">
                    <li>
                        <img
                            class="rounded-circle account-img"
                            style="
                                width: 30px;
                                height: 30px;
                                margin: 0px 10px 0px 0;
                            "
                            src="{{ post.image_src}}"
                        />
                    </li>
                    <li class="breadcrumb-item">
                        <a class="me-2 text-decoration-none">{{ post.author.name }}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <small class="text-muted"
                            >{{ post.category.name }}</small
                        >
                    </li>
                </ol>
            </nav>
        </div>
        
        <figure class="figure w-100 mt-2">
            <div class="">
                <img
                    src="{{ post.image_src}}"
                    class="figure-img img-fluid img-thumbnail object-fit-cover border rounded shadow"
                    style="
                        width: 250px;
                    "
                    alt="..."
                />
            </div>
            <figcaption class="figure-caption article-content">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Author</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{post.id}}</th>
                            <td>{{post.name}}</td>
                            <td>{{post.category.name}}</td>
                            <td>{{post.author.name}}</td>
                        </tr>
                    </tbody>
                </table>
                <div>Description:<br/>{{ post.description }}</div>
            </figcaption>
        </figure>
    </div>
</article>


{% if  current_user.is_authenticated %}
    <div>
        <textarea id="commentId" class="form-control" placeholder="Nhập nội dung bình luận"></textarea>
        <input onclick="addComment({{ post.id }})" type="button" class="btn btn-danger" style="margin-top: 7px" value="Bình luận"/>
    </div>
{% else %}
    <a href="{{ url_for('users.login', next='books.bookDetail', book_id=post.id) }}">Đăng nhập để bình luận</a>
{% endif %}

<br></br>

    {% if pages>1 %}
            <ul class="pagination mt-1">
                    {% for i in range(1, 1+pages) %}
                    <li class="page-item"><a class="page-link" href="javascript:;" onclick="loadComments({{ post.id }}, {{ i }})">{{ i }}</a></li>
                    {% endfor %}
            </ul>
    {% endif %}

    <div id="commentArea">


    </div>


    <script>
        window.onload=function (){
            loadComments({{ post.id }})
            {#let date=document.getElementsByClassName('myDate')#}
            {#for (let i=0; i<date.length;i++)#}
            {#    date[i].innerText = moment(date[i].innerText).locale('vi').fromNow()#}
            {##}
        }
    </script>

{% endblock content %}

{% block index %} 
    <div class="content-section">
        <h3>Our Detail</h3>
        <p class='text-muted'>You can put any information here you'd like.
            <ul class="list-group">
                <li class="list-group-item list-group-item-light d-flex justify-content-between"><span>Price</span><span class="fw-bold">{{ "{:,.0f}".format(post.unit_price) }} VNĐ</span></li>
                <li class="list-group-item list-group-item-light d-flex justify-content-between"><span>Status</span><span class="fw-bold">{% if post.enable %} {{ "Available" }} {% else %} {{ "Not availble" }} {% endif %}</span></li>
                <li class="list-group-item list-group-item-light d-flex justify-content-between"><span>Stock</span><span class="fw-bold">{{post.available_quantity}}</span></li>
                <li class="list-group-item list-group-item-light d-flex justify-content-between">etc</li>
            </ul>
        </p>
        
        <div class="">Quantity</div>
        <form action="{{ url_for('cart.addToCart') }}" method="POST" class="d-flex justify-content-between gap-2">
            {% if post.in_stock() > 0 %}
                <div class="w-100">
                    {{ form.csrf_token }}

                    {{ form.quantity(class='form-control', type='number', min=1, max=post.in_stock(), step=1, value=1) }}

                    {{ form.id(class='visually-hidden', value=post.id) }}
                </div>
            {% endif %}
            <div class="panel-footer" style="white-space: nowrap;">
                {% if post.available_quantity > 0 %}
                <button type="submit" class="btn btn-info text-white">
                    <i class="bi bi-cart-plus-fill"></i> Add Cart
                </button>
                {% endif %}
            </div>
        </form>
        <a
            class="btn btn-primary mt-3 w-100"
            role="button"
            aria-disabled="true"
            href="{{url_for('cart.buy_now', id=post.id)}}"
            >Buy Now</a
        >
    </div>
{% endblock index %}