{% extends "layout.html" %} {% block body %}
    <div class="row">
        <div class="col-lg-8">
            <h3 class="bold">
                <i class="glyphicon glyphicon-pencil"></i> Shipping Information
            </h3>

            <div class="panel panel-primary">
                <form method="POST" action="{{ url_for('orders.checkout') }}">
                    <div class="panel-body mb-2">
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="bold">Personal Information</h5>
                            </div>
                            {{ form.csrf_token }}
                            {{ form.customer_id() }}
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Fullname</label>
                                    {{ form.full_name(class='form-control', readonly=true) }}
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    {{ form.address(class='form-control') }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    {{ form.phone_number(class='form-control') }}
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    {{ form.email(class='form-control',
                                readonly=true) }}
                                </div>
                            </div>

                        </div>
                        <div class="row" style="margin-top: 2rem">
                            <div class="col-lg-12">
                                <h5 class="bold">Payment</h5>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Payment Option</label>
                                    {{ form.payment_type(class='form-control', id = "paymentMethod") }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer" style="margin-top: 2rem">
                        <button
                                type="submit"
                                class="icon-link icon-link-hover btn btn-primary fw-bold p-2"
                        >
                            Submit My Order
                            <i
                                    class="bi bi-cash-coin fs-4"
                                    style="color: #1fd655"
                            ></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-4">
            <h3 class="bold">
                <i class="glyphicon glyphicon-th-list"></i> Cart Details
            </h3>

            <div class="panel panel-primary mb-2">
                <div class="panel-body">Current Cart Value</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>
                            {{ quantity_total }} Items
                            <strong class="pull-right"
                            >{{ "{:,.0f}".format(grand_total) }} VNĐ</strong
                            >
                        </p>
                        <p id="quick_ship">
                            24hr Shipping
                            <strong class="pull-right">{{ "{:,.0f}".format(quick_ship) }} VNĐ</strong>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p>
                            Total
                            <strong class="pull-right" id="grand_total_plus_shipping"
                            >{{ "{:,.0f}".format(grand_total_plus_shipping) }} VNĐ</strong
                            >
                        </p>
                    </li>
                </ul>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Benefits</h3>
                </div>
                <div class="panel-body">
                    Some of the benefits of shopping with us include:
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Buyer Protection</li>
                    <li class="list-group-item">Next Day Delivery</li>
                    <li class="list-group-item">Flexible Payment Options</li>
                    <li class="list-group-item">7day Money Back Guarantee</li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        window.onload = () => {
            element = document.getElementById("paymentMethod")
            element.addEventListener("change", () => {
                method = element.options[element.selectedIndex].innerText
                quickShipElement = document.getElementById("quick_ship")
                grandTotalPlusShipping = document.getElementById("grand_total_plus_shipping")
                if (method == "BANKING") {
                    quickShipElement.style.display = "inline"
                    grandTotalPlusShipping.innerText =
                    "{{ "{:,.0f}".format(grand_total_plus_shipping) + " VNĐ" }}"
                } else {
                    quickShipElement.style.display = "none"
                    grandTotalPlusShipping.innerText =
                    "{{ "{:,.0f}".format(grand_total_plus_shipping  - quick_ship) + " VNĐ"}}"
                }
            })
        }
    </script>
{% endblock %}
