<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Something went wrong!!!</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="/css/error.css") }}" />


</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404" style="background-image: url(https://res.cloudinary.com/ddgtjayoj/image/upload/v1703920247/gmh3aeokk7is5bfcfnpb.png)"></div>
			<h1>{{ e.code }}</h1>
			<h2>{{ e.__str__() }}</h2>
			<p>Sorry but we can't service your request</p>
			<a href="/">Back to homepage</a>
		</div>
	</div>

</body>

</html>
