<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">BookStore</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('main.home')}}"
                    >Home <span class="sr-only">(current)</span></a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.about')}}">About</a>
            </li>
        </ul>
        <form class="form-inline m-2 my-lg-0">
            <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Search
            </button>
        </form>
        <!-- Navbar Right Side -->
        <div class="navbar-nav ms-auto pl-3">
            {% if current_user.is_authenticated %} {% if
            current_user.has_role('superuser') %}
            <a
                class="btn btn-primary"
                role="button"
                href="{{ url_for('admin.index') }}"
                >Go to admin!</a
            >
            {% endif %}
            <div class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Account
                </a>
                <div
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdown"
                    style="left: -4.5rem"
                >
                    <a class="dropdown-item" href="{{url_for('users.account')}}"
                        >Profile</a
                    >
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('users.logout')}}"
                        >Logout</a
                    >
                </div>
            </div>
            {% else %}
            <a class="nav-item nav-link" href="{{url_for('security.register')}}"
                >Register</a
            >
            <a
                class="nav-item nav-link btn btn-primary text-white"
                role="button"
                href="{{url_for('security.login')}}"
                >Login</a
            >
            {% endif %}
        </div>
    </div>
</nav>
