{% extends "layout.html" %} {% block content %}

<h1>Register Page</h1>
<div class="content-section">
    <form method="POST" action="">
        <fiedset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
        </fiedset>
    </form>
</div>
<div class="border-top py-3">
    <small class="text-muted">
        Already Have An Account?
        <a class="ms-2" href="{{url_for('users.login')}}">Login</a>
    </small>
</div>

{% endblock content %}
