{% extends "layout.html" %} {% block body %}

    <div>Current staff</div>
    <div class="media-body">
        <h2 class="account-heading">{{ current_user.first_name + current_user.last_name }}</h2>
        <main class="container">
            <div class="row">
                <div class="content-section col-md-6">
                    <form
                            method="POST"
                            action="{{ url_for('users.staff') }}"
                            class="row"
                    >
                        {{ form.hidden_tag() }} {{ form.csrf_token }}
                        <fiedset class="form-group">
                            <legend class="border-bottom mb-2">
                                <h2 class="text-white rounded p-3 text-bg-info">
                                    Product Order Form
                                </h2>
                            </legend>
                            <div class="d-flex gap-2 mb-2">
                                Id {{ form.id(class='form-control', type='number') }}
                            </div>
                            <div
                                    class="d-flex justify-content-between align-items-center gap-2"
                            >
                                <div class="">Quantity</div>
                                {{ form.quantity(class='form-control',
                            type='number', min=1, step=1, value=1) }}
                                <button
                                        type="submit"
                                        class="btn btn-info text-white"
                                        style="white-space: nowrap"
                                >
                                    <i class="bi bi-plus-square-fill"></i> Add
                                </button>
                            </div>
                        </fiedset>
                    </form>
                </div>
                <form action="{{ url_for('orders.checkout') }}" class="col-md-6">
                    <table class="table table-striped content-section">
                        <h3>Your Order</h3>
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col" colspan="4">Book Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <th scope="row">1</th>
                                <td colspan="4">{{ product['name'] }}</td>
                                <td>{{ "{:,.0f}".format(product['unit_price']) }} VNĐ</td>
                                <td>{{ product['quantity'] }}</td>
                                <th>
                                    <strong
                                    >{{ "{:,.0f}".format(product['total']) }} VNĐ</strong
                                    >
                                </th>
                                <th>
                                    <a
                                            class="btn btn-danger btn-sm"
                                            href="{{ url_for('cart.removeFromCart', index=product['index']) }}"
                                            role="button"
                                    >
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <table class="table content-section">
                        <tbody>
                        <tr>
                            <td><strong>24hr Shipping</strong></td>
                            <td>
                                <strong class="pull-right"> {{ "{:,.0f}".format(quick_ship) }} VNĐ </strong>
                            </td>
                            <td><strong>Total</strong></td>
                            <td>
                                <strong class="pull-right"
                                >{{ "{:,.0f}".format(grand_total) }} VNĐ</strong
                                >
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total Payment + Shipping</strong></td>
                            <td>
                                <strong class="pull-right"
                                > {{ "{:,.0f}".format(grand_total_plus_shipping) }} VNĐ </strong
                                >
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <h3>Payment Method</h3>
                    {% for method in payment_methods %}
                        <div class="form-check mt-2">
                            <input
                                    class="form-check-input"
                                    type="radio"
                                    name="payment_method"
                            value={{ method.id }}
                                    id="payment_method"

                            />
                            <label class="form-check-label" for={{ method.name }}>
                                <strong>{{ method.name }}</strong>
                            </label>
                        </div>
                    {% endfor %}
                    <button
                            type="submit"
                            class="btn btn-info text-white py-2 px-4 float-end fw-bold"
                    >
                        Buy
                    </button>
                </form>
            </div>
        </main>
    </div>

{% endblock body %}
